/* Feel free to change duration  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i&display=swap");
.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1; }

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0; }

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

button:focus {
  outline: none !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif !important; }

.upper {
  text-transform: uppercase !important; }

.light {
  font-weight: 300; }

.regular {
  font-weight: normal; }

.bolder {
  font-weight: bolder; }

.text-verde {
  color: #8aa15e !important; }

.text-light-gray {
  color: #949494; }

.legal {
  font-size: smaller !important; }

section h2 {
  font-size: 20px;
  letter-spacing: 2px; }
  @media screen and (min-width: M) {
    section h2 {
      font-size: 20px;
      letter-spacing: 6px; } }

.num-dorm {
  font-size: 1.3rem; }
  @media screen and (min-width: M) {
    .num-dorm {
      font-size: 2.5rem; } }

.text-item-proyecto {
  font-size: 1.3rem; }
  @media screen and (min-width: M) {
    .text-item-proyecto {
      font-size: 1.8rem; } }

@media screen and (min-width: M) {
  #texto-plantas {
    margin-top: 10px !important;
    margin-bottom: 100px !important; } }

.que-planta {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0px !important; }

.punto {
  font-size: 25px;
  bottom: 0px;
  position: relative; }

.iframeSize {
  font-size: 20px !important; }

#menu {
  height: auto;
  padding: 20px 0px;
  z-index: 2; }

#menu img {
  height: 35px; }

nav li a {
  font-size: calc( .5vw + 6px);
  font-weight: lighter;
  text-decoration: none;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  color: #3c3c3b !important; }
  nav li a:hover {
    text-decoration: none !important;
    color: #3c3c3b;
    opacity: .6; }

.menu-scroll {
  height: 96px !important; }

.bg-alpha {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }
  .bg-alpha:hover {
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 25px; }

.btn-verde {
  background: none !important;
  border: 1px solid #8aa15e !important;
  color: #8aa15e; }

#cabeceraProyecto {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url(../img/FACHADA_01_07_15_FINAL.jpg) center center/cover no-repeat;
  background-blend-mode: multiply; }

.padding-menu {
  padding-top: 196px !important; }

.margin-menu {
  margin-top: 196px !important; }

.logo-la-huasa {
  width: 200px;
  max-width: 30vw;
  height: auto; }

.bg-verde {
  background: #8aa15e; }

@-webkit-keyframes flecha {
  0% {
    bottom: 100px;
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    bottom: 20px;
    opacity: 0; } }

@keyframes flecha {
  0% {
    bottom: 100px;
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    bottom: 20px;
    opacity: 0; } }

.flecha-abajo {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 40px;
  -webkit-animation: flecha 2s;
  animation: flecha 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  cursor: pointer; }
  .flecha-abajo a {
    text-decoration: none;
    color: #fff; }
    .flecha-abajo a:hover {
      text-decoration: none;
      color: #fff; }

.seccion {
  height: auto;
  min-height: 100vh; }

#formulario {
  width: 350px;
  position: fixed;
  top: calc(50% - 200px);
  height: auto;
  right: 0;
  z-index: 100; }
  #formulario img {
    width: 150px; }

#inputsFormulario {
  -webkit-transition: .6s ease all;
  -o-transition: .6s ease all;
  transition: .6s ease all; }

.esconde-formulario {
  position: relative;
  margin-right: -100%;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.tituloContacto {
  cursor: pointer; }

.rotar-90 {
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important; }

input {
  border: none !important;
  border-bottom: 1px solid #e3e3e3 !important;
  width: 100%;
  height: calc(60% / 5); }

textarea {
  border: none !important;
  border-bottom: 1px solid #e3e3e3 !important;
  width: 100%;
  height: calc(60% / 5);
  resize: none !important; }

#proyecto {
  background: #3c3c3b; }

#texto-proyecto {
  font-size: 12px;
  line-height: 1.5rem; }
  @media screen and (min-width: M) {
    #texto-proyecto {
      font-size: 16px;
      line-height: 30px; } }

#cuadroItems {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.astericos {
  font-size: smaller;
  position: relative;
  top: -10px; }

.borde-proyecto {
  border-right: 0px solid #fff; }
  @media screen and (min-width: M) {
    .borde-proyecto {
      border-right: 1px solid #fff; } }

.icono-proyecto {
  height: 60px;
  width: auto; }

.owl-mobile .owl-nav {
  width: 100%;
  position: absolute;
  color: #7e7e7e;
  font-size: 4rem;
  margin-top: 50%; }
  .owl-mobile .owl-nav .owl-prev {
    position: absolute;
    left: 50px; }
  .owl-mobile .owl-nav .owl-next {
    position: absolute;
    right: 50px; }

#plantas {
  background: #eaeaea; }

.img-planta {
  height: 300px;
  -o-object-fit: scale-down;
  object-fit: scale-down; }

.btn-cotiza {
  border: none;
  padding: 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 20px !important;
  border-radius: .3rem; }

.owl-plantas .owl-nav {
  width: 100%;
  position: absolute;
  color: #7e7e7e;
  font-size: 4rem;
  top: 30%; }
  .owl-plantas .owl-nav .owl-prev {
    position: absolute;
    left: -30px; }
  .owl-plantas .owl-nav .owl-next {
    position: absolute;
    right: -30px; }

.icono-disfruta {
  height: 76px !important;
  -o-object-fit: contain;
  object-fit: contain; }

.img-galeria {
  height: 670px !important;
  -o-object-fit: cover;
  object-fit: cover; }

.owl-galeria .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0px; }

.owl-disfruta .owl-nav {
  width: 100%;
  position: absolute;
  color: #7e7e7e;
  font-size: 4rem;
  top: 30%; }
  .owl-disfruta .owl-nav .owl-prev {
    position: absolute;
    left: -30px; }
  .owl-disfruta .owl-nav .owl-next {
    position: absolute;
    right: -30px; }

#recorridosVirtuales iframe {
  height: 620px;
  margin: 20px 0px; }

#lugaresParaDescubrir {
  background: #eaeaea; }

.bl-verde {
  border-left: 4px solid #8aa15e;
  font-size: 18px; }

#contacto {
  background: #d7d7d7; }

@media screen and (min-width: M) {
  .border-contacto-left {
    border-left: 2px solid #7d7d7d; } }

#contacto a {
  color: #3c3c3b !important;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }
  #contacto a :hover {
    -webkit-text-decoration: #3c3c3b;
    text-decoration: #3c3c3b; }

.light img {
  width: 20px;
  margin: 0px 5px; }

.destacar {
  border: 1px solid red;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */