#cabeceraProyecto{
    height: 100vh;
    background: rgba(0, 0, 0, 0.4) url(/img/FACHADA_01_07_15_FINAL.jpg) center center / cover no-repeat;
    background-blend-mode: multiply;
}

.padding-menu{
    padding-top: 196px !important;
}

.margin-menu{
    margin-top: 196px !important;
}

.logo-la-huasa{
    width: 200px;
    max-width: 30vw;
    height: auto;
}

.bg-verde{
    background: $brand-primary-color;
}

@keyframes flecha{
    0% {bottom: 100px;opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {bottom: 20px;opacity: 0;}
}

.flecha-abajo{
    position: absolute;
    transform: rotate(90deg);
    font-size: 40px;
    animation: flecha 2s;
    animation-iteration-count: infinite;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    cursor: pointer;
    & a{
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
}

.seccion{
    height: auto;
    min-height: 100vh
}

// FORMULARIO CONTACTO

#formulario{
    width: 350px;
    position: fixed;
    top: calc(50% - 200px);
    height: auto;
    right: 0;
    z-index: 100;
    img{
        width: 150px;
    }
}

.rotar-90{
    transform: rotate(90deg) !important;
}

input[type=text]{
    border: none !important;
    border-bottom: 1px solid #e3e3e3!important;
    width: 100%;
    height: calc(60% / 5);
}

textarea{
    border: none !important;
    border-bottom: 1px solid #e3e3e3!important;
    width: 100%;
    height: calc(60% / 5);
    resize: none !important;
}

// CONTENIDO PROYECTO

#proyecto{
    background: #3c3c3b;;
}

#texto-proyecto{
    font-size: 12px;
    line-height: 1.5rem;
    @include MQ(M){
        font-size: 16px;
        line-height: 30px;
    }
}

#cuadroItems{
    transform: scale(.8);
}

.astericos{
    font-size: smaller;
    position: relative;
    top: -10px;
}

.borde-proyecto{
    border-right: 0px solid #fff;
    @include MQ(M){
        border-right: 1px solid #fff;
    }
}

.icono-proyecto{
    height: 60px;
    width: auto;
}

.owl-mobile .owl-nav{
    width: 100%;
    position: absolute;
    color: #7e7e7e;
    font-size: 4rem;
    margin-top: 50%;
    & .owl-prev{
        position: absolute;
        left: 50px;
    }
    & .owl-next{
        position: absolute;
        right: 50px;
    }
}

// CONTENIDO PLANTAS

#plantas{
    background: #eaeaea;
}

.img-planta{
    height: 300px;
    object-fit: scale-down;
}

.btn-cotiza{
    border: none;
    padding: 15px;
    box-sizing: content-box;
    height: 20px !important;
    border-radius: .3rem;
}

.owl-plantas .owl-nav{
    width: 100%;
    position: absolute;
    color: #7e7e7e;
    font-size: 4rem;
    top: 30%;
    & .owl-prev{
        position: absolute;
        left: -30px;
    }
    & .owl-next{
        position: absolute;
        right: -30px;
    }
}

// CONTENIDO COMODIDADES

.icono-disfruta{
    height: 76px !important;
    object-fit: contain;
}

// CONTENIDO GALERIA

.img-galeria{
    height: 670px !important;
    object-fit: cover;
}

.owl-galeria .owl-dots{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.owl-disfruta .owl-nav{
    width: 100%;
    position: absolute;
    color: #7e7e7e;
    font-size: 4rem;
    top: 30%;
    & .owl-prev{
        position: absolute;
        left: -30px;
    }
    & .owl-next{
        position: absolute;
        right: -30px;
    }
}

// CONTENIDO RECORRIDOS VIRUTALES

#recorridosVirtuales iframe{
    height: 620px;
    margin: 20px 0px;
}

// CONTENIDO LUGARES PARA DESCUBRIR

#lugaresParaDescubrir{
    background: #eaeaea;
}

.bl-verde{
    border-left: 4px solid #8aa15e;
    font-size: 18px;
}

// CONTENIDO CONTACTO

#contacto{
    background: #d7d7d7;
}

.border-contacto-left{
    @include MQ(M){
        border-left: 2px solid #7d7d7d;
    }
}

#contacto a{
    color: #3c3c3b !important;
    transition: .3s ease all;
    & :hover{
        text-decoration: #3c3c3b;
    }
}

// CONTENIDO FOOTER
.light img{
    width: 20px;
    margin: 0px 5px;
}